Makefile.in
aclocal.m4
autom4te.cache/
autoscan.log
config.h.in
configure
depcomp
install-sh
missing
src/Makefile.in
build
/tags
/stamp-h1
*.o
*.la
.deps
*.lo
m4/*.m4
/libtool
src/aquaria
.libs
.dirstamp
/ltmain.sh
/config.h
config.h.in~
/config.status
/config.sub
/config.log
/config.guess
Makefile
